.home {
	padding-top: 2%
}

.loading{
	margin-top: 30%;
	color: #5cb85c;
	font-size: 2em;
}

.playlist-header {
	color: #5cb85c;
	margin-bottom: 2%
}

.playlist-img {
	height: 17%;
	width: 17%;
}

.playlist-container {
	margin-top: 2%
}