.mynav {
	padding-top: 3%;
	padding-bottom: 3%;
	color: #5cb85c;
}

.home-link {
	margin-right: 3%;
	color: #5cb85c;
}

.logout {
	color: #d9534f;
}

.account {
	color: #d3d3d3;
}

.guest-logout {
	color: #d9534f;
	background:none;
	border:none;
	margin:0;
	padding:0;
}
