.search-song {
  color: #5cb85c;
}

.input-group {
  width: 50%;
  margin-bottom: 5%;
}
.input-group-btn {
  margin-left: 5%;
  margin-top: 2%
}

.form-control {
  background-color: transparent;
  border-left: transparent;
  border-right: transparent;
  border-top: transparent;
  border-top: ghostwhite;
  color: #5cb85c
}
.search-btn {
  background-color:transparent;
  background:none;
	border:none;
}
